div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
}

div input {
    border-radius: 20px;
    border: none;
    text-align: center;
    padding: 10px 60px;
    background-color:#0770a5;
}

div input::placeholder{
    color: white;
    font-size: 16px;
}